<footer class="footer">
  <div class="container">

    <div class="row">
      <div class="col-sm-3">
        <div class="footer-widget">
          <a href="{{ "/contact" |relative_url }}">
            <img src="{{ "/assets/images/slim5.png" |relative_url }}">
            </a>
        </div>
      </div>

      <div class="col-sm-3">
      </div>

      <div class="col-sm-3">
        <div class="footer-widget">
          <ul>
            <li><a href="/curso">Curso 10 ferramentas</a></li>
            <li><a target="_blank" href="/blog">Formação de Coach</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="footer-widget">
          <ul>
            <li><a target="_blank" href="/blog">Blog</a></li>
            <li><a href="/contato">Contato</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="copyright">
      <p class="pull-right">
        © {{ site.time | date: "%Y" }} {{ site.name }}
      </p>
      <div class="clearfix"></div>
    </div>
  </div>

  <script src="{{ "/assets/js/jquery.min.js" |relative_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="{{ "/assets/js/ie10-viewport-bug-workaround.js" |relative_url }}"></script>
  <script type='text/javascript' src='/assets/js/masonry.pkgd.min.js'></script>
  <script src="{{ "/assets/js/theme.js" |relative_url }}"></script>
</footer>
