<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">

    <!-- Begin Logo -->
    <a class="navbar-brand" href="/">
      <img src="{{ site.logo | relative_url }}" alt="{{ site.name }}">
      </a>
    <!-- End Logo -->

    <!-- Begin Menu -->
    <div class="collapse navbar-collapse" id="navbarsWow">

      <!-- Begin Menu -->
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="{{ "/dez-ferramentas" |relative_url }}">Curso das 10 Ferramentas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ "/formacao-coach-emagrecimento" |relative_url }}">Formação de Coaching de Emagrecimento</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ "/blog" |relative_url }}">Blog</a>
        </li>

        <li class="nav-item">
          <a target="_blank" class="nav-link" href="{{ "/contato" |relative_url }}">Contato</a>
        </li>

      </ul>
      <!-- End Menu -->

    </div>
  </div>
</header>
