---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import "syntax";

.main-banner {
	background-size: 100%;
	color: white;
	background-repeat: no-repeat;
}

.space-top {
	margin-top: 30px;

	.col-md-6 {
		margin-bottom: 30px;
	}
}

.jumbotron .description {
	font-size: 22px;
	font-weight: bold;
}


#cx1 {
	widget: 400px;
	height: 600px;
	align: center;
}

#cx2 {
	widget: 400px;
	height: 600px;
	align: center;
}

#cx3 {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 500px;
	left: 15px;
	cursor: hand;
}

#cx4 {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 500px;
	left: 625px;
	cursor: hand;
}

#foto02 {
	width: 500px;
	height: 200px;
}

#foto03 {
	width: 200px;
	height: 200px;
}

#tx1 {
	font-size: 20px;
	font-weight: bold;
}

#tx2 {
	font-size: 15px;
	font-weight: bold;
	color: #848484;
}

#tx3 {
	font-size: 15px;
	color: #848484;
}
