---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import "syntax";

p {
	margin: .5rem 0;
}

h1, h2, h3 {
	margin: 1.2rem auto;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.6px;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1rem;
}

.main-banner {
	background-size: 100%;
	color: #FFFFFF;
	background-repeat: no-repeat;
	margin-bottom: 3.5rem;
}

.space-top {
	margin-top: 30px;

	.col-md-6 {
		margin-bottom: 30px;
	}
}

.jumbotron .description {
	font-size: 22px;
	font-weight: bold;
}

#cx1 {
	widget: 400px;
	height: 600px;
	align: center;
}

#cx2 {
	widget: 400px;
	height: 600px;
	align: center;
}

#cx3 {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 500px;
	left: 15px;
	cursor: hand;
}

#cx4 {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 500px;
	left: 625px;
	cursor: hand;
}

#foto02 {
	width: 500px;
	height: 200px;
}

#foto03 {
	width: 200px;
	height: 200px;
}

#tx1 {
	font-size: 20px;
	font-weight: bold;
}

#tx2 {
	font-size: 15px;
	font-weight: bold;
	color: #848484;
}

#tx3 {
	font-size: 15px;
	color: #848484;
}

.botao01 {
	 background: #FF4000;
 	 width: 750px;
 	 height: 40px;
 	 position: relative;
	 border-radius: 10px;
	 cursor:hand;
	 font-size: 20px;
	 line-height: 2em;

}

.txbaner1 {
	font-size: 100%;
	font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: 0 0;
	vertical-align: baseline;
	text-align: right;
	text-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.pull-center {
    text-align: center;
}

.site-content {
	margin-top: 9rem;
}

.footer {
	margin-top: 50px;
}

.btn-outline-success {
	color: #5cb85c;
}

.home-card {
	line-height: 1.6rem;

	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1rem;
	}

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.title {
		padding-bottom: .5rem;
		border-bottom: 2px solid #ada1a1;
		margin-bottom: .8rem;
	}

	.subtitle {
		min-height: .5rem;
	}

	.content {
		margin-top: 1rem;
		margin-bottom: 1.5rem;

		i {
			margin-right: 6px;
		}
	}

	.btn {
		font-size: 1.3rem;
	}

}

section {
	margin-bottom: 4rem;
}

.img-icon {
	width: 7rem;
}

.hero {
	text-align: center;

	img {
		margin: 1.5rem auto;
	}

	.btn {
		border-color: #dd4a00;
		background-color: #dd4a00;
		font-size: 1.3rem;
	}
}

.course-content {
	img {
		width: 7rem;
		float: left;
	}

	.row {
		display: block;
		padding-left: 9.5rem;
	}
}

.features, .statistics {
	text-align: center;

	.itens {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.item-description {
			font-weight: 700;
			color: #333;
		}
	}
}

.testimonials {
	text-align: center;

	img {
		width: 11rem;
		border-radius: 35px;
		margin-right: 2rem;
	}

	.row .col-sm-12 {
		display: flex;
		flex-direction: row;
		text-align: left;
		margin-top: 1.5rem;
	}
}

.warranty {
	color: #fff;
	background-color: #00356b;
	text-align: left;

	img {
		width: 11rem;
		margin-right: 2rem;
	}

	.row .col-sm-12 {
		display: flex;
		flex-direction: row;
		margin-top: 1.5rem;
	}

}
